.date-picker {
  font-family: sans-serif;
  display: flex;
  width: 100%;
  &-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    padding-block: 1%;
  }
  &-week-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    color: red;
    font-weight: 700;
  }
  &-week-body-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;

    &-day {
      cursor: pointer;

      &:not(.current-month) {
        color: lightgray;
      }
    }
  }
}
